body {
	margin: 0;
	width: 400px;
	border-top: 2px #ccc solid;
	border-bottom: 2px #ccc solid;
	border-left: 2px #ccc solid;
	border-right: 2px #ccc solid;
}

#wrap {
	display: flex;
	flex-direction: column;

}

#header {
	border-bottom: 2px #ccc solid;
	padding: 2px;
}

#main {
	padding: 20px;
}

#header h3 {
	margin: 2px;
}

.row {
	display: flex;
	flex-direction: row;
	margin-bottom: 20px;
}

.box_left {
	border: 2px #ccc solid;
	background-color: red;
	margin-right: 15px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 70px

}

.box_right {
	border: 2px #ccc solid;
	background-color: blue;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 200px

}


.box7 {
	border: 2px #ccc solid;
	background-color: tan;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 70px
}