body {
	margin: 0;
	width: 400px;
	border-top: 2px #ccc solid;
	border-bottom: 2px #ccc solid;
	border-left: 2px #ccc solid;
	border-right: 2px #ccc solid;
}

#wrap {
	display: flex;
	flex-direction: column;
}

#header {
	border-bottom: 2px #ccc solid;
	padding-left: 2px;	
}

#top_half {
	padding: 20px;
}

#top_half div {
	background: green;
	padding: 10px;
	border: 2px #ccc solid;
}

#middle {
	display: flex;
	justify-content: space-between;
	padding-left: 20px;
	padding-bottom: 20px;
	margin-right: 20px;
}

#bottom_half {
	display: flex;
	padding-left: 20px;
	padding-bottom: 20px;
	justify-content: space-between;
}



#box1 {
	background-color: orange; 
	margin-bottom: 5px;
	margin-right: 20px;
	padding-left: 35px;
	padding-right: 35px;
	padding-bottom: 75px;
	border: 2px #ccc solid;
}

#box2 {
	background-color: red;
	margin-bottom: 5px;
	margin-right: 20px;
	padding-left: 35px;
	padding-right: 35px;
	padding-bottom: 75px;
	border: 2px #ccc solid;
}

#box3 {
	background-color: lightblue;
	margin-bottom: 5px;
	margin-right: 20px;
	padding-left: 35px;
	padding-right: 35px;
	padding-bottom: 75px;
	border: 2px #ccc solid;
}